In [1]:
lis=['ojas','sahil','rishita']

In [2]:
val=enumerate(lis)

In [3]:
import pandas as pd

In [4]:
v=pd.DataFrame(val)

In [5]:
v

   0        1
0  0     ojas
1  1    sahil
2  2  rishita

In [6]:
val

In [7]:
list(val)

[]

In [8]:
list(enumerate(lis))

[(0, 'ojas'), (1, 'sahil'), (2, 'rishita')]

In [10]:
for i in lis:
    print(enumerate(i))

<enumerate object at 0x0E41FCC8>
<enumerate object at 0x0E3EEE08>
<enumerate object at 0x0E3EEE08>