# This is how we implement dictionary

In [1]:
name={'ojas':21,'Ritu':48,'Neha':30}

In [2]:
name

{'ojas': 21, 'Ritu': 48, 'Neha': 30}

In [3]:
name['ojas']

21

In [4]:
name['Ojas']

KeyError: 'Ojas'

### This error shows that keys are case sensitive

In [6]:
name['Asha']=75

In [7]:
name

{'ojas': 21, 'Ritu': 48, 'Neha': 30, 'Asha': 75}

In [8]:
name['Asha']=74

In [9]:
name

{'ojas': 21, 'Ritu': 48, 'Neha': 30, 'Asha': 74}

In [11]:
val={'Java':['Eclipse','VS','Atom'],'ojas':21}

In [12]:
val

{'Java': ['Eclipse', 'VS', 'Atom'], 'ojas': 21}

In [14]:
val['Java'][1]

'VS'

### This shows that we can actually store nested dictionaries in the current dictionary

# Tuple

In [15]:
t=(1,2,3)

In [16]:
t

(1, 2, 3)

In [17]:
t[2]=4

TypeError: 'tuple' object does not support item assignment

# Tuple is immutable which means you cannot change its values

In [18]:
t=(2,3,4)

In [19]:
t

(2, 3, 4)

## We cannot change singular value of tuple but we can change the whole value of tuple

# Sets

In [20]:
s={1,2,2}

In [21]:
s

{1, 2}

### We can really get unique elements by using the set function

In [22]:
li=[1,2,3,3,4,4,4,5,5]

In [23]:
set(li)

{1, 2, 3, 4, 5}

In [24]:
v=set(li)

In [25]:
v

{1, 2, 3, 4, 5}